
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: green;
    font-family: 'MedievalSharp', cursive;
    text-align: center;

}

.animals img {
    width: 30vw;
    border-radius: 50%;
    cursor: pointer;
}